<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>สมัครสมาชิก</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <div class="boxlogin">
      <img src="assets/img/buildings.png" />
    </div>
    <form [formGroup]="form_register">
      <!-- <div class="form-group">
        <label for="exampleInputEmail1">ชื่อผู้ใช้</label>
        <input
          formControlName="username"
          type="text"
          class="form-control"
          aria-describedby="emailHelp"
        />
      </div> -->
      <div class="form-group">
        <label for="exampleInputPassword1">ชื่อสถานประกอบการ</label>
        <input formControlName="company_name" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">รหัสบัตรประชาชน</label>
        <input formControlName="identification_id" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">เลขที่ใบอนุญาตขับขี่</label>
        <input formControlName="carcard_id" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="example-date-input">วันหมดอายุใบอนุญาตขับขี่</label>
        <input
          formControlName="exd_carcard_id"
          class="form-control"
          type="date"
          id="example-date-input"
        />
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">คำนำหน้า</label>
        <select
          formControlName="driver_title"
          class="form-control"
        >
          <option *ngFor="let item of titleName" [value]="item">
            {{item}}
          </option>
        </select>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">ชื่อจริง</label>
        <input  formControlName="driver_fname" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">นามสกุล</label>
        <input  formControlName="driver_lname" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">ที่อยู่สถานประกอบการ</label>
        <textarea  formControlName="company_address" type="text" class="form-control" rows="4" ></textarea>
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">เบอร์ติดต่อ</label>
        <input formControlName="company_phone" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="exampleInputPassword1">รหัสผ่าน</label>
        <input  formControlName="password" type="password" class="form-control" />
      </div>

      <div class="form-group">
        <label for="exampleInputPassword1">ยืนยันรหัสผ่าน</label>
        <input  formControlName="confirmPassword" type="password" class="form-control" />
      </div>
      <section>
        <ion-button color="success" [disabled]="form_register.invalid" (click)="onSubmit()" expand="block"
          ><b>สมัครสมาชิก</b></ion-button
        >
      </section>
    </form>
  </div>
</ion-content>
