<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>เพิ่มเส้นทาง</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="mt-2 container boxmap"><div id="gomap"></div></div>
  <div class="container">
    <div class="mt-1">
      <label for="exampleFormControlSelect1">เส้นทาง</label>
      <ion-segment
        scrollable="false"
        class="mt-1"
        mode="ios"
      >
        <ion-segment-button >
          <ion-label>ไป</ion-label>
        </ion-segment-button>
        <!-- <ion-segment-button value="1">
          <ion-label>กลับ</ion-label>
        </ion-segment-button> -->
      </ion-segment>
    </div>
    <form action="" [formGroup]="form_edit">
      <div class="form-group mt-3">
        <label for="exampleInputPassword1">ชื่อเส้นทาง</label>
        <input formControlName="route_name" type="text" class="form-control" />
      </div>
      <!-- <div class="form-group">
        <label for="exampleInputPassword1">หมายเลขเส้นทาง</label>
        <input formControlName="route_number" type="text" class="form-control" />
      </div> -->
      <div class="form-group">
        <label for="exampleInputPassword1">ค่าโดยสาร</label>
        <input formControlName="route_price" type="text" class="form-control" />
      </div>
      <div class="form-group">
        <label for="exampleFormControlSelect1">หมายเลขเส้นทาง</label>
        <select
          formControlName="route_company_id"
          class="form-control"
        >
          <option
            *ngFor="let item of getRouteCompanyData"
            [value]="item.route_company_id"
          >
            สายที่ {{item.route_number}}
          </option>
        </select>
      </div>
    </form>
    <section class="mb-3">
      <ion-button (click)="submitDirection()" [disabled]="form_edit.invalid" color="success" expand="block"
        ><b>เพิ่มเส้นทาง</b></ion-button
      >
    </section>
  </div>
</ion-content>

