.boxdatalist {
    height: 60px;
    // background-color: rgb(243, 243, 243);
    // margin-top: 5px;
    border-bottom: 1px solid #e9e9e9;
    //text-align: start;
  }
  .text-alingcenter {
    justify-content: center;
  }
  .list-company {
    list-style-type: none;
  }
  .btn-approved{
      background-color: #22B14C ;
  }