<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ปิดการใช้งาน</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ul class="list-group accordion">
      <li
        class="list-company"
        id="accordionExample"
        *ngFor="let item of companyPending"
      >
        <div class="row boxdatalist">
          <a
            type="button"
            data-toggle="collapse"
            [attr.data-target]="'#company'+item.company_id"
            aria-expanded="false"
            class="col-8 col-md-10 d-flex align-items-center"
          >
            {{item.company_name}}
          </a>
          <button
            (click)="onUpdate(item,'approved')"
            class="col-2 col-md-1 bg-success d-flex align-items-center text-white text-alingcenter"
          >
            เปิด
          </button>
          <button
            (click)="deleteCompany(item.company_id)"
            class="col-2 col-md-1 bg-danger d-flex align-items-center text-white text-alingcenter"
          >
            ลบ
          </button>
        </div>
        <div
          id="company{{item.company_id}}"
          class="collapse"
          data-parent="#accordionExample"
        >
          <div class="card-body">
            <form>
              <div class="form-group">
                <label for="exampleInputPassword1">หมายเลขบัตรประจำตัวประชาชน</label>
                <input
                  disabled
                  value="{{item.identification_id}}"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">คำนำหน้า</label>
                <input
                  disabled
                  value="{{item.driver_title}}"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">ชื่อจริง</label>
                <input
                  disabled
                  value="{{item.driver_fname}}"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">นามสกุล</label>
                <input
                  disabled
                  value="{{item.driver_lname}}"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">ชื่อสถานประกอบการ</label>
                <input
                  disabled
                  value="{{item.company_name}}"
                  type="text"
                  class="form-control"
                />
              </div>

              <div class="form-group">
                <label for="exampleInputPassword1">เลขที่ใบอนุญาตขับขี่รถยนต์</label>
                <input
                  disabled
                  value="{{item.carcard_id}}"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">เบอร์ติดต่อ</label>
                <input
                  disabled
                  value="{{item.company_phone}}"
                  type="text"
                  class="form-control"
                />
              </div>
              <div class="form-group">
                <label for="exampleInputPassword1">ที่อยู่สถานประกอบการ</label>
                <textarea
                  disabled
                  value="{{item.company_address}}"
                  type="text"
                  class="form-control"
                  rows="4"
                ></textarea>
              </div>
            </form>
          </div>
        </div>
      </li>
    </ul>
  </div>
</ion-content>
