<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>ขับรถ</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <div class="row">
      <button
        [disabled]="enable"
        data-toggle="modal"
        data-target="#staticBackdrop2"
        class="col box btn btn-success"
      >
        เริ่ม
      </button>
      <button
        [disabled]="!enable"
        (click)="setDriverDisable()"
        class="col box btn btn-danger"
      >
        หยุด
      </button>
    </div>
    <div class="form-group">
      <label for="exampleFormControlSelect1">รถ</label>
      <select
        #company
        (change)="getCarRoundShow(company.value)"
        class="form-control"
      >
        <option *ngFor="let item of carData2" [value]="item.car_id">
          {{item.car_number + ' ' + item.provinces}}
        </option>
      </select>
    </div>
    <div class="container con-table mt-2 d-flex justify-content-start">
      <table class="table table-bordered">
        <thead>
          <tr class="table-primary align-middle">
            <th class="align-middle text-center" scope="col">รอบที่ 1</th>
            <th class="align-middle text-center" scope="col">รอบที่ 2</th>
            <th class="align-middle text-center" scope="col">รอบที่ 3</th>
            <th class="align-middle text-center" scope="col">รอบที่ 4</th>
            <th class="align-middle text-center" scope="col">รอบที่ 5</th>
            <th class="align-middle text-center" scope="col">รอบที่ 6</th>
            <th class="align-middle text-center" scope="col">รอบที่ 7</th>
            <th class="align-middle text-center" scope="col">รอบที่ 8</th>
            <th class="align-middle text-center" scope="col">รอบที่ 9</th>
            <th class="align-middle text-center" scope="col">รอบที่ 10</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let item of timeTable">
            <td>{{item.round_1}}</td>
            <td>{{item.round_2}}</td>
            <td>{{item.round_3}}</td>
            <td>{{item.round_4}}</td>
            <td>{{item.round_5}}</td>
            <td>{{item.round_6}}</td>
            <td>{{item.round_7}}</td>
            <td>{{item.round_8}}</td>
            <td>{{item.round_9}}</td>
            <td>{{item.round_10}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <b *ngIf="carDrive"><h5>รายละเอียดรถที่ขับ</h5></b>
    <div *ngIf="carDrive" class="row">
      <br />
      <form class="col-12">
        <div class="form-group">
          <label for="exampleInputPassword1">ทะเบียนรถ</label>
          <input
            [value]="carShow.car_number +' '+carShow.provinces"
            disabled
            type="text"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">สีของรถ</label>
          <input
            [value]="carShow.car_color"
            disabled
            type="text"
            class="form-control"
          />
        </div>
        <div class="form-group">
          <label for="exampleInputPassword1">ยี่ห้อ</label>
          <input
            [value]="carShow.car_brand"
            disabled
            type="text"
            class="form-control"
          />
        </div>
      </form>
    </div>
  </div>

  <!-- Modal2 -->
  <div
    class="modal fade"
    id="staticBackdrop2"
    data-backdrop="static"
    data-keyboard="false"
    tabindex="-1"
    aria-labelledby="staticBackdropLabel"
    aria-hidden="true"
  >
    <div class="modal-dialog mt-4">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="staticBackdropLabel">กรุณาเลือก</h5>
        </div>
        <div class="modal-body">
          <form>
            <div class="form-group">
              <label for="exampleFormControlSelect1">รถที่จะออกขับ</label>
              <select #car_id class="form-control">
                <option *ngFor="let item of carData" [value]="item.car_id">
                  {{item.car_number + ' ' + item.provinces}}
                </option>
              </select>
            </div>
          </form>
        </div>

        <div class="modal-footer">
          <button
            type="button"
            class="btn btn-secondary"
            data-dismiss="modal"
            id="closeModal2"
          >
            ยกเลิก
          </button>
          <button
            type="button"
            (click)="setDriverEnable(car_id.value)"
            class="btn btn-success"
          >
            เลือก
          </button>
        </div>
      </div>
    </div>
  </div>
</ion-content>
