.box{
    height: 100px;
    margin: 15px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 23px;
    font-weight: 600;
    color: white;
    border-radius: 13px;
}