<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>เส้นทางการเดินรถ</ion-title>
    <ion-button [routerLink]="['add']" class="login pr-1" size="small" slot="end" color="success"
      >เพิ่มเส้นทาง</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-searchbar></ion-searchbar>
    <div class="form-group">
      <label for="exampleFormControlSelect1">สถานประกอบการ</label>
      <select #company (change)="getRoute(company.value)" class="form-control">
        <option *ngFor="let item of companyApproved" [value]="item.company_id">
          {{item.company_name}}
        </option>
      </select>
      <!-- <section>
        <ion-button color="success" expand="block"
          ><b>เพิ่มเส้นทาง</b></ion-button
        >
      </section> -->
    </div>

    <ul class="list-group">
      <li class="row boxdatalist" *ngFor="let item of routeData">
        <div class="col-8 col-md-10 d-flex align-items-center">
          {{item.route_number+" "+item.route_name}}
        </div>
        <button
        [routerLink]="['edit',item.route_id]"
          data-toggle="modal"
          data-target="#staticBackdropEdit"
          class="col-2 col-md-1 bg-warning d-flex align-items-center text-white text-alingcenter"
        >
          แก้ไข
        </button>
        <button
          (click)="deleteCar(item.car_id)"
          class="col-2 col-md-1 bg-danger d-flex align-items-center text-white text-alingcenter"
        >
          ลบ
        </button>
      </li>
    </ul>
  </div>
</ion-content>
