<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>เส้นทางการเดินรถ</ion-title>
    <ion-button
      data-toggle="modal"
      data-target="#staticBackdrop"
      class="login pr-1"
      size="small"
      slot="end"
      color="success"
      >เพิ่มเส้นทาง</ion-button
    >
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="container">
    <ion-searchbar (ionChange)="searchArray($event)"></ion-searchbar>
    <div class="form-group mt-2">
      <label for="exampleFormControlSelect1">หมายเลขเส้นทาง</label>
      <select #company (change)="getRoute(company.value)" class="form-control">
        <option
          *ngFor="let item of getRouteCompanyData"
          [value]="item.route_company_id"
        >
          {{item.route_company_id ? 'สายที '+item.route_number : item.route_number}}
          <!-- {{item.route_number}} -->
        </option>
      </select>
      <!-- <section>
        <ion-button color="success" expand="block"
          ><b>เพิ่มเส้นทาง</b></ion-button
        >
      </section> -->
    </div>

    <ul class="list-group">
      <li class="row boxdatalist" *ngFor="let item of routeData">
        <div class="col-8 col-md-10 d-flex align-items-center">
          {{item.route_number+" : "+item.route_name}}
        </div>
        <button
          [routerLink]="['edit',item.route_id]"
          data-toggle="modal"
          data-target="#staticBackdropEdit"
          class="col-2 col-md-1 bg-warning d-flex align-items-center text-white text-alingcenter"
        >
          แก้ไข
        </button>
        <button
          (click)="deleteRoute(item.route_id)"
          class="col-2 col-md-1 bg-danger d-flex align-items-center text-white text-alingcenter"
        >
          ลบ
        </button>
      </li>
    </ul>
  </div>
</ion-content>

<div
  class="modal fade"
  id="staticBackdrop"
  data-backdrop="static"
  data-keyboard="false"
  tabindex="-1"
  aria-labelledby="staticBackdropLabel"
  aria-hidden="true"
>
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="staticBackdropLabel">กรุณาเลือก</h5>
      </div>
      <div class="modal-body">
        <div class="container">
          <div
            class="box bg-success"
            data-dismiss="modal"
            [routerLink]="['addgo']"
          >
            ขาไป
          </div>
          <div
            class="box bg-warning"
            data-dismiss="modal"
            [routerLink]="['addback']"
          >
            ขากลับ
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">
          ปิด
        </button>
      </div>
    </div>
  </div>
</div>
